.cont1 aside h3 {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    line-height: 1;
    text-shadow: rgba(0,0,0,.3) 3px 3px 6px;
}

.cont1 footer h3 {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    line-height: 1;
    text-shadow: rgba(0,0,0,.3) 2px 2px 4px;
}


/* CSSOO */

.title {
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1;
}

.cont2 aside .title {
    font-size: 2em;
    text-shadow: rgba(0,0,0,.3) 3px 3px 6px;
}

.cont2 footer .title {
    font-size: 1.5em;
    text-shadow: rgba(0,0,0,.3) 2px 2px 4px;
}