/* nome do css geralmente é no singular layout */

#header,
#footer,
#sidebar, 
#subheader
{
    display: flex;
}


.l-fixed #article {
    float: right;
    width: 80%;
}

.l-fixed #sidebar {
    float: right;
    width: 20%;
}